In [1]:
import pandas as pd

In [5]:
series =pd.Series([1,2,3])
series

0    1
1    2
2    3
dtype: int64

In [3]:
import pandas as pd
indexSeries =pd.Series([1,2,3], index=['a','b','c'])
print(indexSeries)
indexSeries['a']

a    1
b    2
c    3
dtype: int64

1

In [13]:
import pandas as pd
s=pd.Series([10,20,30])
s

0    10
1    20
2    30
dtype: int64

In [19]:
#different ways to create series
#List
import pandas as pd
data =[10,20,30]
s=pd.Series(data)
s

0    10
1    20
2    30
dtype: int64

In [81]:
#dictionary
data ={'a':100,'b':200,'c':300}
Sdict=pd.Series(data)
Sdict #to get entire series
Sdict['b']
#Accessing multiple elements
Sdict[['c','b']]
Sdict[['b','c']].values #to get it in array
Sdict[['b','c']].values[0]  # get elemts by index from the array
Sdict[['b','c']].values[[0,1]]
Sdict[['a','b','c']].values[0:3] # to get 3 elements from 0 index
Sdict[['a','b','c']].values[-1] # to get last element in the array
Sdict[['a','b','c']].values[:-1] #to skip last element
Sdict[['a','b','c']][:-1] #to skip last element in series

array([200, 300], dtype=int64)

In [107]:
# creating series from numpy
import numpy as np

data = np.array([10,20,30])
data
series =pd.Series(data)
series
series[0:2]
series[:-1]
series[:-1].values
series[:-1].values[1]
series.values
series.values[0:2]

array([10, 20])

In [133]:
#get series with Scalar value
scalar=pd.Series(2,index=[0,1,2,3,4,5])
scalar
scalar[0:4]
scalar[:-1]

0    2
1    2
2    2
3    2
4    2
dtype: int64

In [155]:
#get series from Data frame
data ={'A':[10,11,12,13],'B':[20,21,22,23],'C':[30,31,32,33]}
data
df =pd.DataFrame(data)
df
df['A']
df['B']

    B   C
0  20  30
1  21  31
2  22  32
3  23  33